* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
  padding: 20px;
  /*overflow: hidden;*/
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #505050;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: #ceff00;
}

.container {
  max-width: 700px;
  width: 100%;
  color: white;
  padding: 120px 40px 40px;
}

.container--center {
  margin: 0 auto;
}

.header h1 {
  font-size: 18px;
  letter-spacing: 2px;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ceff00;
}

.welcome h2 {
  margin-bottom: 10px;
}

.welcome p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.play h3 {
  margin-bottom: 5px;
}

.play p {
  font-size: 13px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: #505050;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card h4 {
  margin-bottom: 5px;
}

.card span:not(.titolo) {
  font-size: 12px;
  color: #666;
}

.arrow {
  background: #ceff00;
  color: black;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.prenota-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 30px 50px;
  border-radius: 20px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 30px;
  border: 3px solid #ceff00;
  transition: transform 0.2s;
}

.prenota-btn:hover {
  transform: scale(1.1);
}

.titolo {
  color: #ceff00;
}

.campo-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome--center {
  text-align: center;
}

.login-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
}

.login-box input::placeholder {
  font-size: 18px;
}

.login-box input {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}

.login-box input:focus {
  outline: none;
  border-bottom: 2px solid #2e7d32;
}

.inizia-btn {
  padding: 30px;
  width: 100%;
  max-width: 300px;
  background-color: #ceff00;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.registra-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #ceff00;
  text-decoration: underline;
  display: block;
  cursor: pointer;
}

.toggle {
  display: flex;
  background: #505050;
  border-radius: 30px;
  padding: 5px;
  width: fit-content;
  margin: 20px auto;
}

.toggle-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.toggle-btn.active {
  background: white;
  color: black;
}

.form {
  display: none;
}

.active-form {
  display: block;
}

.titolo-grande {
  font-size: 32px;
  margin-bottom: 20px;
}

.campo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.campo-left img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.campo-info {
  background: #505050;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.8;
}

.fasce {
  margin-top: 30px;
  font-size: 26px;
}

.orari {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.orario-btn {
  background-color: #ceff00;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.orario-btn:hover {
  transform: scale(1.1);
}

.giocatori {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.plus-btn {
  background-color: #ceff00;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
}

.minus-btn {
  background-color: #ceff00;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.create-btn {
  white-space: nowrap;
}

.text-white {
  color: white !important;
}

.campo {
  position: relative;
  margin: 20px 0;
}

.campo img {
  width: 100%;
  border-radius: 10px;
}

.player {
  position: absolute;
  width: 45px;
  height: 45px;
  background: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.p1 {
  top: 40%;
  left: 5%;
  transition: transform 0.2s;
}
.p2 {
  top: 40%;
  left: 20%;
  transition: transform 0.2s;
}
.p3 {
  top: 20%;
  left: 30%;
  transition: transform 0.2s;
}
.p4 {
  top: 60%;
  left: 30%;
  transition: transform 0.2s;
}
.p5 {
  top: 40%;
  left: 40%;
  transition: transform 0.2s;
}

.p6 {
  top: 40%;
  left: 55%;
  transition: transform 0.2s;
}
.p7 {
  top: 20%;
  left: 65%;
  transition: transform 0.2s;
}
.p8 {
  top: 60%;
  left: 65%;
  transition: transform 0.2s;
}
.p9 {
  top: 40%;
  left: 75%;
  transition: transform 0.2s;
}
.p10 {
  top: 40%;
  left: 90%;
  transition: transform 0.2s;
}

.p1:hover {
  transform: scale(1.1);
}
.p2:hover {
  transform: scale(1.1);
}
.p3:hover {
  transform: scale(1.1);
}
.p4:hover {
  transform: scale(1.1);
}
.p5:hover {
  transform: scale(1.1);
}
.p6:hover {
  transform: scale(1.1);
}
.p7:hover {
  transform: scale(1.1);
}
.p8:hover {
  transform: scale(1.1);
}
.p9:hover {
  transform: scale(1.1);
}
.p10:hover {
  transform: scale(1.1);
}

.riepilogo--vertical {
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  border-radius: 20px;
  padding: 20px;
}

.riepilogo-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #777;
  padding: 6px 0;
  font-size: 14px;
}

.riepilogo-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.progress-bar {
  flex: 1;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.progress-fill {
  background: #ceff00;
  border-radius: 20px;
}

.progress-text {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

.paga-btn {
  margin-top: 30px;
  border-radius: 40px;
  font-size: 22px;
}
.club-dropdown {
  overflow: hidden;
  width: 100%;
}

.club-header {
  background: #505050;
  padding: 15px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  border: solid#CEFF00;
}

.club-content {
  display: flex;
  gap: 30px;
  padding: 20px;
  width: 100%;
}

.club-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
}

.club-btn {
  background: #6a6a6a;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
}

.club-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.club-list {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 10px;
}

.club-item {
  background: #ccc;
  color: black;
  border-radius: 20px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.club-info {
  text-align: right;
  font-size: 14px;
}

.status {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 12px;
  margin-top: 5px;
}

.form-grid {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px
  
}

.form-left,
.form-right {
  flex: 1;
  min-width: 250px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  margin: 10px 0 20px;
  background: #d9d9d9;
}

.upload-boxes {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.upload-box {
  width: 70px;
  height: 70px;
  background: #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.textarea {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background: #d9d9d9;
  resize: none;
}

.counter {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.counter-value {
  font-size: 28px;
  font-weight: bold;
}

.visibility {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.visibility-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #505050;
  color: white;
  cursor: pointer;
}

.visibility-btn.active {
  border: 2px solid #ceff00;
  color: #ceff00;
}

.create-club-btn {
  margin-top: 40px;
  width: 100%;
  background: #ceff00;
  color: black;
  border: none;
  padding: 20px;
  border-radius: 30px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.create-club-btn:hover {
  transform: scale(1.1);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-btn {
  background-color: transparent;
  color: #ceff00;
  border: 2px solid #ceff00;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform 0.2s;
}

.home-btn:hover {
  transform: scale(1.05);
}

.input--large {
  width: 100%;
  margin-bottom: 20px;
}

.prezzo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input--prezzo {
  width: 120px;
  text-align: center;
  margin: 10px 0;
}

.prezzo-label {
  font-size: 16px;
  color: white;
}

.giorni {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.giorno-btn {
  padding: 8px 14px;
  border-radius: 20px;
  border: 2px solid #505050;
  background: #505050;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

.giorno-btn.active {
  border: 2px solid #ceff00;
  color: #ceff00;
}

.upload-box--large {
  width: 100%;
  height: 120px;
  border: 2px dashed #666;
  background: #3a3a3a;
  border-radius: 15px;
  font-size: 36px;
  color: white;
  margin: 10px 0 25px;
}

.orari {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0 30px;
}

.orario-btn {
  padding: 8px 14px;
  border-radius: 20px;
  border: 2px solid #505050;
  background: #505050;
  color: white;
  cursor: pointer;
  font-size: 13px;
  transition: transform 0.2s;
}

.orario-btn.active {
  border: 2px solid #ceff00;
  color: #ceff00;
}

.miei-campi-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.miei-campi-top h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.data-oggi {
  font-size: 13px;
  color: #aaa;
}

.aggiungi-campo-btn {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.aggiungi-campo-btn:hover {
  transform: scale(1.05);
}

.stats-grid {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.stat-card {
  flex: 1;
  min-width: 120px;
  border: 2px solid #ceff00;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.stat-number {
  font-size: 32px;
  font-weight: bold;
  color: #ceff00;
}

.stat-label {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
  letter-spacing: 1px;
}

.sezione-titolo {
  font-size: 13px;
  letter-spacing: 2px;
  color: #aaa;
  margin-bottom: 15px;
}

.campo-card {
  border: 2px solid #ceff00;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
  background: #1a1a1a;
}

.campo-card-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.campo-icon {
  width: 45px;
  height: 45px;
  background: #505050;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.campo-nome {
  font-size: 16px;
  font-weight: bold;
}

.fasce-label {
  font-size: 11px;
  letter-spacing: 2px;
  color: #aaa;
  margin-bottom: 10px;
}

.legenda {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

.legenda-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #aaa;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot--grigio { background: #888; }
.dot--rosso  { background: #e53935; }
.dot--verde  { background: #ceff00; }

.fasce-orarie {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.fascia-btn {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.fascia--verde { background: #ceff00; color: black; }
.fascia--rosso { background: #e53935; color: white; }
.fascia--grigio { background: #505050; color: white; }